html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: auto;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
  text-decoration: none;
}

#holder canvas{
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  width: auto;
  height: calc(100vh - 250px);
  overflow: auto;
}
.pdf-container{
  overflow: hidden;
  margin-top: 49px;
}
#holder {

}
.pdf-container::-webkit-scrollbar {
  display: none;
  position: relative;
}
.page{
  display: inline-block;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.sp-z-index--0 {
  z-index: 0;
}

.sp-opacity--0 {
  opacity: 0;
}

.sp-viewer--fadein {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.sp--fadeout {
  animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.link{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.link-task{
  width: 750px;
  height: 550px;
}
