.sp-add-hopper-widget__a,
.sp-add-video-widget__a,
.sp-widget__add-item {
  background-color: #FFFFFF;
  background-image: none;
  cursor: pointer;
  border: 1px solid #e5e6e7;
  border-radius: 4px;
  float: right;
  margin-top: 20px;
  padding: 6px 12px;
  position: relative;
  right: -9px;
}

.sp-add-hopper-widget__a:hover,
.sp-add-video-widget__a:hover,
.sp-widget__add-item:hover {
  color: #1ab394;
  border: 1px solid #1ab394; 
}

.sp-customization-option__p {
  margin-top: 15px;
}

.sp-hide-is-enabled {
  display: none;
}

.sp-video-link-tooltip {
  margin-left: 5px;
}

.sp-delete-hopper-widget__a,
.sp-delete-video-widget__a,
.sp-widget__delete-item {
  background-color: #FFFFFF;
  background-image: none;
  cursor: pointer;
  border: 1px solid #e5e6e7;
  border-radius: 4px;
  padding: 6px 12px;
}

.sp-delete-hopper-widget__a:hover,
.sp-delete-video-widget__a:hover,
.sp-widget__delete-item:hover {
  color: #ed5565;
  border: 1px solid #ed5565;
}

.sp-hopper__input-elm,
.sp-video-widget {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 160px;
}

.sp-hopper__input-elm:focus,
.sp-video-widget:focus {
  border: 1px solid #1ab394;
  outline: none;
}

.sp-widget-form-error {
  border-color: #ed5565;
}

.sp-hopper-widget__row,
.sp-video-widget-data-row {
  margin-top: 7px;
  padding-left: 0;
}

.sp-widgets-customisation__spinner-show {
  display: block;
  margin: 70px auto 70px auto !important;
}

.sp-widgets-customization-window__tab {
  padding: 10px 8px 10px 15px !important;
}

.sp-widgets__required-setting {
	color: #ed5565;
}

[name="video-widget-page-start"] {
  width: 79px;
}

[data-item-setting="hopperText"] {
  width: 110%
}

[data-item-setting="hopperPage"] {
  width: 120%;
}


/* Widget 3 - Question Widget */
#sp-widget3__advanced {
  margin: auto auto auto 15px !important;
}

#sp-widget3__advanced-hr {
  margin-bottom: 10px;
}

#sp-widget3__advanced small {
	cursor: pointer;
}

#sp-widget3__advanced-button-color-container {
	margin-bottom: 5px;
}

#sp-widget3__title .text-info {
	cursor: pointer;
	float: right;
}

.sp-widget3__advanced-container {
  display: none;
}


/* Widget 6 - Testimonials */
#sp-tab-6 .sp-widget__delete-item {
  float: right;
}

.#sp-tab-6 .sp-widget-item:first-child hr {
  display: none;
}

.sp-widget6__person-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.sp-widget6__input-person-image {
  border: none;
  padding-left: 0;
}

/* Widget 7 - Form */
.sp-widget7__company-logo-label {
  margin-bottom: 10px !important;  
}

.sp-widget7__image-elements {
  display: none;
}

.sp-widget7__input-form-image {
  border: none;
  padding-left: 0;
}

.sp-widget7__form-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 100px;
}

.sp-widget7__label-nowrap {
  white-space: nowrap;
}

#sp-widget7__form-type-container {
  text-align: center;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

#sp-widget7__form-type-container input:nth-child(2) {
  margin-left: 32px;
}

/* Widget 9 - Link Widget */

#sp-tab-9 .sp-widget__delete-item {
  float: right;
}

/* Spectrum Settings */
#sp-viewer-widgets-modal .sp-replacer {
  border-radius: 4px;
  float: left;
  padding: 3px;
}

#sp-viewer-widgets-modal .sp-preview {
  border-radius: 2px;
  margin-right: 0 !important;
}

#sp-viewer-widgets-modal .sp-dd {
  display: none;
}

/* Widget 10 */

#sp-widget10__description {
  display: block;
}

#sp-widget10__title .text-info {
  cursor: pointer;
  float: right;
}

/* Widget 11 */
.sp-widget11__input-share-image {
  border: none;
  padding-left: 0;
}

.sp-widget11__share-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
}