@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
}

#loading {
	position: fixed;
	width: 100%;
	height: 1000px;
	z-index: 1;
	background-color: ;
	opacity: 0.9;
	margin: 0;
	padding: 0;
	display: none;
}

#loadingDiv {
	position: absolute;
	margin: -200px 0 0 -90px;
	top: 50%;
	left: 50%;
	z-index: 2;
	text-align: center;
	background-color: #ffffff;
}

#mainTable {
	position: absolute;
	width: 660px;
//  background-color: pink;
	padding: 25px;
	text-align: center;
	margin: 50px 0 0 -330px;
	left: 50%;
}

.mainButtons {
	background-color: #3215b3;
	color: #ffffff;
	width: 100px;
	height: 30px;
	font-size: 14px;
	margin: 10px 0;
  text-align: center;
}

.textInput {
	margin: 10px;
	font-size: 14px;
	padding: 5px 0 5px 3px;
}

#customerPresentationSelect {
	width: 300px;
	border: 0;
	font-size: 14px;
	margin-bottom: 20px;
}

#customerPresentationSelect option {
	padding: 10px;
}

#termsAndConditions {
	bottom: 0;
	position: absolute;
	margin-left: -160px;
	margin-top: 10px;
	left: 50%;
	font-size: 12px;
	font-weight: bold;
	width:320px;
}

select{
  width: 200px;
  border: 0;
  font-size: 12px;
}

select option {
  padding: 5px 0 5px 10px;
}

#tab1, #tab2, #tab3 {
  padding: 35px;
}

.tab1Buttons {
  background-color: #3215b3;
  color: #ffffff;
  padding: 8px;
}

#toolBarDiv table {
  z-index: 5;
  text-align: center;
}
#toolBarDiv tr {
  height: 60px;
}

#toolBarDiv td {
  width: 30px;
  cursor: pointer;
 // border: 1px solid black;

}

#pollSlider-button {
   		 	position:fixed;
		    width:30px;
		    height:500px;
		    left:0px;
		    z-index: 50;
		    background:white;
		    top:15%;
		    bottom: 15%;
		    border-top: 1px solid black;
		    border-right: 1px solid black;
		    border-bottom: 1px solid black;
		    border-top-right-radius: 10px;
		    border-bottom-right-radius: 10px;
		}

#toolBarDiv td:hover {
  background-color: ;
}

#shareLinkBox{
	position: fixed;
	top: 50px;
	width: 400px;
	left: 130px;
	z-index: 99;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	display: none;
}

#askQuestionBox{
	position: fixed;
	top: 50px;
	width: 300px;
	left: 130px;
	z-index: 99;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	display: none;
}
