# Eclipse
.classpath
.project
.settings/
gradle.properties
bin/

# Gradle
/.gradle/
/build/

# IDEA
/.idea/

# Gulp
/node_modules/
/src/main/webapp/static/src/vue-app/node_modules/
/src/main/resources/templates/build/
/src/main/webapp/static/build/

