/**
 * General Settings
 */
 
.sp--direction-ltr {
  direction: ltr;
}
 
.sp-hidden {
  visibility: hidden;
}


/**
 * Toolbar Settings.
 */

.splitToolbarButtonSeparator,
.verticalToolbarSeparator,
#download,
#presentationMode,
#print,
#openFile,
#viewBookmark {
  display: none !important;
}

#toolbarContainer,
#toolbarViewer {
  height: 49px;
}

#viewerContainer {
  top: 49px;
}

#toolbarViewerLeft,
#toolbarViewerRight {
  margin-top: 9px;
}

#scaleSelectContainer {
  margin-left: 6px;
  margin-right: 4px;
  min-width: 0 !important;
  width: 80px;
}

#pageNumber {
  width: 30px;
}

.sp-toolbar-logo img {
  height: 45px;
  padding-top: 2px;
}

#toolbarViewer {
  background-color: #ffffff;
}

.toolbarLabel,
.toolbarField,
#scaleSelectContainer,
#scaleSelect {
  visibility: hidden;
}

#loadingBar {
  background-color: rgba(195, 195, 195, 0.3);
  border-bottom-color: #c3c3c3;
}

#loadingBar .progress {
  background-color: #616161;
}

#viewerContainer {
  background-color: #f6f6f6;
}

/* Secondary Toolbar */

#secondaryOpenFile,
#secondaryViewBookmark {
  display: none !important;
}

#secondaryPrint {
  display: block !important; 
}

/* CTA Buttons */

.sp-cta {
  cursor: pointer;
  width: auto;
  display: inline-block;
}

.sp-secondary-cta:link,
.sp-secondary-cta:visited,
.sp-secondary-cta:hover,
.sp-secondary-cta:active {
  color: rgba(255, 255, 255, 0.8);
} 

.sp-cta:link,
.sp-cta:visited,
.sp-cta:hover,
.sp-cta:active,
.sp-secondary-cta:link,
.sp-secondary-cta:visited,
.sp-secondary-cta:hover,
.sp-secondary-cta:active,
#sp-terms-privacy a,
#sp-terms-privacy-secondary-toolbar a {
  text-decoration: none;
}

.sp-secondary-cta {
  display: block;
  height: 18px;
  min-height: 0;
  min-width: 0;
  padding-bottom: 0;
  padding-top: 7px;
}

.sp-secondary-cta::before {
  content: url(../../../viewer/web/images/findbarButton-next.png);
}

@media screen and (min-resolution: 2dppx) {
  .sp-secondary-cta::before {
    content: url(../../../viewer/web/images/findbarButton-next@2x.png);
  }
}

#sp-cta-secondary-toolbar-separator {
  display: none;
}


/**
 * Terms and Privacy.
 */

#sp-terms-privacy {
  background-color: rgba(246, 246, 246, 0.8);
  bottom: 0;
  font-size: 12px;
  left: 0;
  margin: 0 0 1px 4px;
  position: fixed;
  width: 150px;
}

#sp-terms-privacy,
#sp-terms-privacy a {
  color: #515151;  
}

#sp-terms-privacy-secondary-toolbar {
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
}

.sp-powered-by {
  font-weight: bold;
}

.sp-clearfix { *zoom: 1; } /* For IE 6/7 */

.sp-clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.sp-clearfix:after { clear: both; }

/**
 * Widget Settings.
 */

.sp-widget-font-fmaily {
  font-family: sans-serif;  
}


/* Sweet Alert 2 */
.swal2-content iframe {
  width: 100%;
}

.swal2-content form {
  text-align: left;
}

.swal2-content input,
.swal2-content textarea {
  margin-top: 5px;
}

.sp-widget7__swal .swal2-spacer {
  display: none !important;
}
 
.sp-widget7__swal .swal2-image {
  margin: 0 auto !important;
} 

.sp-widget7__swal h2 {
  font-size: 20px !important;
  margin-bottom: 10px !important;
  line-height: 30px !important;
}

.sp-widget7__swal button.styled {
  padding: 5px 15px !important;
}

/* Widget 1 */
#sp-widget1 {
  background-color: white;
  border: 1px solid #8D8D8D;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0;
  color: #0074A6;
  cursor: pointer;
  left: 160px;
  padding: 7px 7px 0;
  position: fixed;
  z-index: 1;
}  

#sp-widget1-tab {
  display: inline-block;
  height: 22px;
  margin-bottom: 3px;
  width: 360px;
}

#sp-widget1 .fa {
  vertical-align: middle;
}

#sp-widget1-tab .fa-video-camera {
  margin-right: 10px;
}

#sp-widget1 .fa-chevron-up,
#sp-widget1 .fa-chevron-down {
  float: right;
}

#sp-widget1-tab div {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 75%;
}

#sp-widget1-video-container {
  display: none;
}

#sp-widget1 iframe {
  display: none;
  height: 270px;
  width: 480px;
}


/**
 * Right Side Widgets.
 */

.sp-right-side-widgets {
  max-width: 230px;
  position: fixed;
  right: 0;
  top: 20%;
  width: 20%;
}

.sp-widget-button {
  background-color: #1aaee4;
  border: none;
  border-radius: 50px 0 0 50px;
  box-shadow: 0px 8.5px 5.67px rgba(35, 31, 32, 0.3);
  color: #fff;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  min-height: 90px;
  padding: 20px 0;
  width: 100%;
 }

.sp-widget-button:hover {
  background-color: #47beea;
  box-shadow: 0px 3.5px 4px rgba(35, 31, 32, 0.4);
  cursor: pointer;
}

.sp-widget-button div {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
  width: 120px;
}

.sp-widget-button i {
  display: inline-block;
  font-size: 2em;
  vertical-align: middle;
}


/* Widget 3 - Ask a Question */
#sp-widget3 {
  background-color: #aca17c;
}

#sp-widget3:hover {
  background-color: #b4aa89;
}

#sp-widget-3-form-message {
  font-size: 0.9em;
  margin-bottom: 10px;
  text-align: center;
}

.sp-widget3-label-wrapper {
  margin: 20px 0 5px;
}

.sp-widget3-label {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 15px;
}


/* Widget 4 - Like */
.sp-like-button-widget {
  z-index: 2;
}


/* Widget 6 - Testimonials */
#sp-widget6 {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  box-shadow: 0px 8px 8px rgba(35, 31, 32, 0.3);
  cursor: pointer;
  height: 90px;
  margin: 30px auto 0 auto;
  position: relative;
  width: 90px;
}

#sp-widget6 i {
  display: none;
  font-size: 3em;
  height: 100%;
  left: 0;
  line-height: 90px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

#sp-widget6__person-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin: 15px auto 20px;
}

#sp-widget6__person-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;  
}

#sp-widget6__person-title {
  margin-top: 10px;  
}


/**
 * Left Side Widgets
 */
 
 /* Widget 5 */
 
.sp-widget5 {
  position: fixed;
  left: 0;
  top: 160px;
}

.sp-widget5__hop {
  align-items: center;
  border-radius: 0 25px 70px 0;
  box-shadow: 0 4.5px 5.67px rgba(35, 31, 32, 0.3);
  cursor: pointer;
  display: flex;
  font-family: sans-serif;
  font-size: 11px;
  height: 40px;
  justify-content: center;
  left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 125px;
}

.sp-widget5__hop:hover,
.sp-widget5__extend-button:hover {
  box-shadow: 0 1.5px 4px rgba(35, 31, 32, 0.3);
}

.sp-widget5__hop p {
  font-size: 10px;
  line-height: 12px;
  padding: 0 4px 2px 4px;
}

.sp-widget5__hop-text {
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 81%;
  word-wrap: break-word;
}

.sp-widget5__hop-page {
  display: none;
}

.sp-widget5__extend-button {
  align-items: center;
  border-radius: 0 50px 50px 0;
  box-shadow: 0 4.5px 5.67px rgba(35, 31, 32, 0.3);
  display: none;
  cursor: pointer;
  height: 25px;
  justify-content: center;
  width: 25px;
}

.sp-widget5__extend-button i {
  color: #fff;
  font-size: 10px;
}

/* Widget 9 */

#sp-widget9 {
  transition: transform 1s ease-in-out;
}

.sp-widget9__transition {
  transform: translateX(100%);
}

.sp-widget9__text p:nth-child(2) {
  margin-top: 20px;
}

/* Widget 7 - Form Widget */

.sp-widget7__toolbar-button-container--visibility {
  visibility: hidden;
}

.sp-widget7--beat {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: form-pulse;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: form-pulse;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  -o-transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out, transform 1000ms ease-in-out;
  -webkit-transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out, transform 1000ms ease-in-out;
  transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out, transform 1000ms ease-in-out;
}

@-webkit-keyframes form-pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  70% {
  	-webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  95% {
  	-webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); 
  }
}

@keyframes form-pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  70% {
  	-webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  95% {
  	-webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); 
  }
}

#sp-widget7 p:nth-child(2) {
	margin-top: 20px;
}

#sp-widget7__toolbar-button-container {
  align-items: center;
  background-color: rgba(70, 70, 70, 0.5);
  display: flex;
  height: 49px;
  justify-content: center;
  position: fixed;
  top: 49px;
  width: 100%;
}

#sp-widget7__toolbar-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-height: 25px;
  padding: 4px 14px;
}

#sp-widget7__toolbar-button p {
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

#sp-widget7-form {
  height: 500px;
}

@media only screen and (max-width: 850px) {  
  .sp-widget7--hidden {
    display: none;
  }
  
  .sp-widget7__toolbar-button-container--visibility {
    visibility: visible;
  }
  
  #sp-widget7__toolbar-button i {
    display: none;
  }
}

@media only screen and (max-height: 900px) {
  #sp-widget7-form {
    height: 450px;
  }
}

@media only screen and (max-height: 800px) {
  #sp-widget7-form {
    height: 400px;
  }
}

@media only screen and (max-height: 700px) {
  #sp-widget7-form {
    height: 350px;
  }
}

/* iPad */
@media only screen and (max-height: 960px) and (max-width: 768px) {
  #sp-widget7-form {
    height: 300px;
  }
}

/* iPhone 6 */
@media only screen and (max-height: 760px) and (max-width: 415px) {
  #sp-widget7-form {
    height: 340px;
  }
  
  .sp-widget7__swal button.styled {
    padding: 5px 25px !important;
  }
  
  .sp-widget7__swal .swal2-image {
    display: none !important;
  }
  
  .sp-widget7__swal {
    padding: 15px !important;
  }
  
  .sp-widget7__swal h2 {
    font-size: 12px !important;
    margin-bottom: 5px !important;
  }
}

/* iPhone 5 */
@media only screen and (max-height: 568px) and (max-width: 320px) {
  #sp-widget7-form {
    height: 280px;
  }
}

/* iPhone 4 */
@media only screen and (max-height: 372px) and (max-width: 320px) {
  #sp-widget7-form {
    height: 120px;
  }
}


/** 
 * Media Queries.
 */
@media only screen and (max-width: 1050px) {
  
  /* Widgets */
  #sp-widget1 iframe {
    height: 225px;
    width: 400px;
  }
  
  #sp-widget1-tab {
    width: 300px;
  }
  
  .sp-right-side-widgets {
    width: 16%;
  }
  
  .sp-widget-button {
    font-size: 1em;
    padding: 15px 0 15px 10px;
  }
  
  .sp-widget-button div {
    margin: 0 auto;
  }
  
  .sp-widget-button i {
    display: block;
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  
  .sp-widget5__hop {
    width: 110px;
  }
  
  .sp-widget5__hop-page {
    display: none;
  }
  
  .sp-widget5__hop-text {
    width: 80%;
  }
  
  #sp-widget6 {
    height: 75px;
    margin-top: 25px;
    width: 75px;
  }
  
  #sp-widget6 i {
    font-size: 2em;
    line-height: 75px;
  }
  
  /* Scale Selector */
  
  #scaleSelectContainer {
    display: none;
  }
}

@media only screen and (max-width: 850px) {

  /* Widget Settings */
  #sp-widget1 {
    border-top-left-radius: 0;
    left: 0;
  }
  
  #sp-widget1 iframe {
    height: 168.75px;
    width: 300px;
  }
  
  #sp-widget1-tab {
    width: 225px;
  }
  
  .sp-right-side-widgets {
    width: 10%;
  }
  
  .sp-widget-button {
    min-height: 0;
    padding: 15px 0 15px 6px;
  }
  
  .sp-widget-button div {
    display: none;
  }
  
  .sp-widget-button i {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  #sp-widget6 {
    height: 50px;
    margin-top: 20px;
    width: 50px;
  }
  
  #sp-widget6 i {
    font-size: 1.5em;
    line-height: 50px;
  }
  
  /* Terms and Privacy */
  #sp-terms-privacy {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #sp-widget1 iframe {
    height: 140.625px;
    width: 250px;
  }

  #sp-widget1-tab {
    width: 187.5px;
  }
  
  .sp-right-side-widgets {
    min-width: 40px;
  }
  
  .sp-widget-button {
    padding: 10px 0 10px 5px;
  }
  
  .sp-widget-button i {
    font-size: 1.2em;
  }
 
  .sp-widget5__extend-button {
    display: flex;
    height: 35px;
    width: 40px;
  }
  
  .sp-widget5__hop {  
    height: 30px;
    width: 30px;
  }
  
  .sp-widget5__hop p {
    font-size: 8px;
    line-height: 11px;
  }
  
  .sp-widget5__hop-extended {
    height: 35px !important;
    width: 88px !important;
  }
  
  .sp-widget5__hop--hidden {
    display: none;
    padding: 0;
  }
  
  .sp-widget5__hop--visible {
    display: block;
    font-size: 6px;
    padding: 0;
  }
  
  #sp-widget6 {
    height: 40px;
    width: 40px;
  }
  
  #sp-widget6 i {
    font-size: 1em;
    line-height: 40px;
  }
}

@media only screen and (max-height: 810px) {
  #sp-widget5__hop-11 {
    display: none;
  }
}

@media only screen and (max-height: 760px) {
  #sp-widget5__hop-9,
  #sp-widget5__hop-10 {
    display: none;
  }
}

@media only screen and (max-height: 660px) {
  #sp-widget5__hop-8 {
    display: none;
  }
  
  .sp-widget5 {
    top: 140px;
  }
}

@media only screen and (max-height: 590px) {
  #sp-widget5__hop-5,
  #sp-widget5__hop-6,
  #sp-widget5__hop-7 {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  .sp-widget5 {
    top: 120px;
  }

  #sp-widget5__hop-4,
  #sp-widget5__hop-5,
  #sp-widget5__hop-6,
  #sp-widget5__hop-7,
  #sp-widget5__hop-8 {
    display: none;
  }
} 

@media only screen and (max-height: 320px) {
  .sp-widget5 {
    top: 115px;
  }
  
  #sp-widget5__hop-3 {
    display: none;
  }
}
