/**
 * General Settings
 */
 
.sp-hidden {
  visibility: hidden;
}


/**
 * Toolbar Settings.
 */

.splitToolbarButtonSeparator,
.verticalToolbarSeparator,
#download,
#presentationMode,
#print,
#openFile,
#viewBookmark {
  display: none !important;
}

#toolbarContainer,
#toolbarViewer {
  height: 49px;
}

#viewerContainer {
  top: 49px;
}

#toolbarViewerLeft,
#toolbarViewerRight {
  margin-top: 9px;
}

#scaleSelectContainer {
  margin-left: 6px;
  margin-right: 4px;
  min-width: 0 !important;
  width: 80px;
}

#pageNumber {
  width: 30px;
}

.sp-toolbar-logo img {
  height: 45px;
  padding-top: 2px;
}

#toolbarViewer {
  background-color: #ffffff;
}

.toolbarLabel,
.toolbarField,
#scaleSelectContainer,
#scaleSelect {
  visibility: hidden;
}

#loadingBar {
  background-color: rgba(195, 195, 195, 0.3);
  border-bottom-color: #c3c3c3;
}

#viewerContainer {
  background-color: #f6f6f6;
}

/* Secondary Toolbar */

#secondaryOpenFile,
#secondaryViewBookmark {
  display: none !important;
}

#secondaryPresentationMode,
#secondaryPrint,
#secondaryDownload {
  display: block !important; 
}

/* CTA Buttons */

.sp-cta {
  cursor: pointer;
  width: auto;
  display: inline-block;
}

.sp-secondary-cta:link,
.sp-secondary-cta:visited,
.sp-secondary-cta:hover,
.sp-secondary-cta:active {
  color: rgba(255, 255, 255, 0.8);
} 

.sp-cta:link,
.sp-cta:visited,
.sp-cta:hover,
.sp-cta:active,
.sp-secondary-cta:link,
.sp-secondary-cta:visited,
.sp-secondary-cta:hover,
.sp-secondary-cta:active,
#sp-terms-privacy a,
#sp-terms-privacy-secondary-toolbar a {
  text-decoration: none;
}

.sp-secondary-cta {
  display: block;
  height: 18px;
  min-height: 0;
  min-width: 0;
  padding-bottom: 0;
  padding-top: 7px;
}

.sp-secondary-cta::before {
  content: url(../../../viewer/web/images/findbarButton-next.png);
}

@media screen and (min-resolution: 2dppx) {
  .sp-secondary-cta::before {
    content: url(../../../viewer/web/images/findbarButton-next@2x.png);
  }
}

#sp-cta-secondary-toolbar-separator {
  display: none;
}


/**
 * Terms and Privacy.
 */

#sp-terms-privacy {
  background-color: rgba(246, 246, 246, 0.8);
  bottom: 0;
  font-size: 12px; 
  margin: 0 0 1px 4px;
  position: fixed;
  width: 150px;
}

#sp-terms-privacy,
#sp-terms-privacy a {
  color: #515151;  
}

#sp-terms-privacy-secondary-toolbar {
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
}

.sp-powered-by {
  font-weight: bold;
}


/**
 * Chat CSS Settings.
 *
 * See media queries section below for different viewports settings. 
 */

@font-face {
  font-family: 'Droid Sans';
  src: url(../font/droid-sans/DroidSans.ttf);
}

@font-face {
  font-family: 'Droid Sans';
  src: url(../font/droid-sans/DroidSans-Bold.ttf);
  font-weight: bold;
}

#sp-live-chat {
  background: transparent;
  bottom: 0;
  color: #9a9a9a;
  font: 12px/2em 'Droid Sans', sans-serif;
  margin: 0;
  max-width: 300px;
  min-width: 125px;
  position: fixed;
  right: 24px;
  visibility: hidden;
  width: 40%;
  z-index: 1; /* TODO: research for the reason this rule is needed */
}

#sp-live-chat a { text-decoration: none; }

#sp-live-chat h4, #sp-live-chat h5 {
  font: 12px/2em 'Droid Sans', sans-serif; /* TODO: research for the reason this rule is needed as it is already declared in #sp-live-chat */
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
}

#sp-live-chat h4 {
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#sp-live-chat h4:before {
  background: #c00000;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

#sp-live-chat h4.sp-chat-user-status-offline:before {
  background-color: #c00000;
}

#sp-live-chat h4.sp-chat-user-status-online:before {
  background-color: #1a8a34;
}

#sp-live-chat h5 {
	font-size: 10px;
}

#sp-live-chat header {
  /* background: #293239; default value */
  border-radius: 3px 3px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  background-color: #474747; /* pdf.js project value */
  background-image: linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95)); /* pdf.js project values */
}

#sp-live-chat hr {
  background: #e9e9e9;
  border: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  margin: 0;
  min-height: 1px;
}

#sp-live-chat img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

#sp-live-chat input {
  border: 1px solid #ccc;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  padding: 8px;
  outline: none;
  width: 100%;
}

#sp-live-chat p { margin: 0; }

.sp-chat {
  background: #fff;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  display: none;
  max-width: 300px;
  width: 100%;
}

.sp-chat-avatar {
  background: #ff9999;
  border-radius: 50%;
  color: #fff;
  float: left;
  font: 16px Ariel, sans-serif;
  height: 32px;
  line-height: 33px; /* TODO: shouldn't it be 32px? */
  text-align: center;
  width: 32px;
}

.sp-chat-avatar--customer {
  background: #99ccff;
}

/* Disable chat feedback functionality for now. 
.sp-chat-feedback {
	font-style: italic;	
	margin: 0 0 0 80px;
}
*/

.sp-chat-form {
	padding: 24px;
}

/* Disable chat message counter functionality for now.
.sp-chat-message-counter {
	background: #e62727;
	border: 1px solid #fff;
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: -15px 0 0 -15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}
*/

/* Disable chat close functionality for now.
.sp-chat-close {	
	background: #1b2126;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 16px;
}
*/

.sp-chat-history {
	max-height: 149px;
	padding: 8px 20px;
	overflow-y: scroll;
}

.sp-chat-message {
	margin: 16px 0;
}

.sp-chat-message img {
	border-radius: 50%;
	float: left;
}

.sp-chat-message-content {
	margin: 0 0 16px 52px;
}

/* Disable chat time functionality for now.
.sp-chat-time {
	float: right;
	font-size: 10px;
}
*/

.sp-clearfix { *zoom: 1; } /* For IE 6/7 */

.sp-clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.sp-clearfix:after { clear: both; }


/* Media Queries */
@media screen and (max-width: 768px) {
  #sp-live-chat {
    right: 0;
  } 
 
  #sp-live-chat header {
    border-top-right-radius: 0;
  }
}


/**
 * Widget Settings.
 */

.sp-widget-font-fmaily {
  font-family: sans-serif;  
}

.sweet-alert iframe {
  width: 100%;
}

/* Widget 1 */
#sp-widget1 {
  background-color: white;
  border: 1px solid #8D8D8D;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0;
  color: #0074A6;
  cursor: pointer;
  left: 160px;
  padding: 7px 7px 0;
  position: fixed;
  z-index: 1;
}  

#sp-widget1-tab {
  display: inline-block;
  height: 22px;
  margin-bottom: 3px;
  width: 360px;
}

#sp-widget1 .fa {
  vertical-align: middle;
}

#sp-widget1-tab .fa-video-camera {
  margin-right: 10px;
}

#sp-widget1 .fa-chevron-up,
#sp-widget1 .fa-chevron-down {
  float: right;
}

#sp-widget1-tab div {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 75%;
}

#sp-widget1-video-container {
  display: none;
}

#sp-widget1 iframe {
  display: none;
  height: 270px;
  width: 480px;
}


/**
 * Right Side Widgets.
 */

.sp-right-side-widgets {
  max-width: 230px;
  position: fixed;
  right: 0;
  top: 45%;
  width: 20%;
}

.sp-widget-button {
  background-color: #1aaee4;
  border: none;
  border-radius: 50px 0 0 50px;
  box-shadow: 0px 8.5px 5.67px rgba(35, 31, 32, 0.3);
  color: #fff;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  min-height: 90px;
  padding: 20px 0;
  width: 100%;
 }

.sp-widget-button:hover {
  background-color: #47beea;
  box-shadow: 0px 3.5px 4px rgba(35, 31, 32, 0.4);
  cursor: pointer;
}

.sp-widget-button div {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
  width: 120px;
}

.sp-widget-button i {
  display: inline-block;
  font-size: 2em;
  vertical-align: middle;
}


/* Widget 3 - Ask a Question */
#sp-widget3 {
  background-color: #aca17c;
}

#sp-widget3:hover {
  background-color: #b4aa89;
}

.sweet-alert form {
  text-align: left;
}

.sweet-alert textarea {
  display: block;
  width: 100%;
}

.sweet-alert textarea {
  display: block;
  width: 100%;
}

.sp-widget3-label-wrapper {
  margin: 20px 0 5px;
}

.sp-widget3-label {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 15px;
}


/* Widget 6 - Testimonials */
#sp-widget6 {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  box-shadow: 0px 8px 8px rgba(35, 31, 32, 0.3);
  cursor: pointer;
  height: 90px;
  margin: 30px auto 0 auto;
  position: relative;
  width: 90px;
}

#sp-widget6 i {
  display: none;
  font-size: 3em;
  height: 100%;
  left: 0;
  line-height: 90px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

#sp-widget6__person-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin: 15px auto 20px;
}

#sp-widget6__person-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;  
}

#sp-widget6__person-title {
  margin-top: 10px;  
}


/**
 * Left Side Widgets
 */
 
 /* Widget 5 */
 
.sp-widget5 {
  position: fixed;
  left: 0;
  top: 160px;
}

.sp-widget5__hop {
  align-items: center;
  border-radius: 0 25px 70px 0;
  box-shadow: 0 4.5px 5.67px rgba(35, 31, 32, 0.3);
  cursor: pointer;
  display: flex;
  font-family: sans-serif;
  font-size: 11px;
  height: 35px;
  justify-content: center;
  left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 125px;
}

.sp-widget5__hop:hover,
.sp-widget5__extend-button:hover {
  box-shadow: 0 1.5px 4px rgba(35, 31, 32, 0.3);
}

.sp-widget5__hop p {
  font-size: 10px;
  line-height: 12px;
  padding: 0 4px 2px 4px;
}

.sp-widget5__hop-text {
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 81%;
  word-wrap: break-word;
}

.sp-widget5__hop-page {
  display: none;
}

.sp-widget5__extend-button {
  align-items: center;
  border-radius: 0 50px 50px 0;
  box-shadow: 0 4.5px 5.67px rgba(35, 31, 32, 0.3);
  display: none;
  cursor: pointer;
  height: 25px;
  justify-content: center;
  width: 25px;
}

.sp-widget5__extend-button i {
  color: #fff;
  font-size: 10px;
}


/** 
 * Media Queries.
 */
@media only screen and (max-width: 1050px) {
  
  /* Widgets */
  #sp-widget1 iframe {
    height: 225px;
    width: 400px;
  }
  
  #sp-widget1-tab {
    width: 300px;
  }
  
  .sp-right-side-widgets {
    width: 16%;
  }
  
  .sp-widget-button {
    font-size: 1em;
    padding: 15px 0 15px 10px;
  }
  
  .sp-widget-button div {
    margin: 0 auto;
  }
  
  .sp-widget-button i {
    display: block;
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  
  .sp-widget5__hop {
    width: 110px;
  }
  
  .sp-widget5__hop-page {
    display: none;
  }
  
  .sp-widget5__hop-text {
    width: 80%;
  }
  
  #sp-widget6 {
    height: 75px;
    margin-top: 25px;
    width: 75px;
  }
  
  #sp-widget6 i {
    font-size: 2em;
    line-height: 75px;
  }
  
  /* Scale Selector */
  
  #scaleSelectContainer {
    display: none;
  }
}

@media only screen and (max-width: 850px) {

  /* Widget Settings */
  #sp-widget1 {
    border-top-left-radius: 0;
    left: 0;
  }
  
  #sp-widget1 iframe {
    height: 168.75px;
    width: 300px;
  }
  
  #sp-widget1-tab {
    width: 225px;
  }
  
  .sp-right-side-widgets {
    width: 10%;
  }
  
  .sp-widget-button {
    min-height: 0;
    padding: 15px 0 15px 6px;
  }
  
  .sp-widget-button div {
    display: none;
  }
  
  .sp-widget-button i {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  #sp-widget6 {
    height: 50px;
    margin-top: 20px;
    width: 50px;
  }
  
  #sp-widget6 i {
    font-size: 1.5em;
    line-height: 50px;
  }
  
  /* Terms and Privacy */
  #sp-terms-privacy {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #sp-widget1 iframe {
    height: 140.625px;
    width: 250px;
  }

  #sp-widget1-tab {
    width: 187.5px;
  }
  
  .sp-right-side-widgets {
    min-width: 40px;
  }
  
  .sp-widget-button {
    padding: 10px 0 10px 5px;
  }
  
  .sp-widget-button i {
    font-size: 1.2em;
  }
 
  .sp-widget5__extend-button {
    display: flex;
    height: 35px;
    width: 40px;
  }
  
  .sp-widget5__hop {  
    height: 30px;
    width: 30px;
  }
  
  .sp-widget5__hop p {
    font-size: 8px;
    line-height: 11px;
  }
  
  .sp-widget5__hop-extended {
    height: 35px !important;
    width: 88px !important;
  }
  
  .sp-widget5__hop--hidden {
    display: none;
    padding: 0;
  }
  
  .sp-widget5__hop--visible {
    display: block;
    font-size: 6px;
    padding: 0;
  }
  
  #sp-widget6 {
    height: 40px;
    width: 40px;
  }
  
  #sp-widget6 i {
    font-size: 1em;
    line-height: 40px;
  }
}

@media only screen and (max-height: 600px) {
  .sp-widget5 {
    top: 130px;
  }
}

@media only screen and (max-height: 480px) {
  .sp-widget5 {
    top: 120px;
  }

  #sp-widget5__hop-4,
  #sp-widget5__hop-5,
  #sp-widget5__hop-6,
  #sp-widget5__hop-7,
  #sp-widget5__hop-8 {
    display: none;
  }
} 

@media only screen and (max-height: 320px) {
  .sp-widget5 {
    top: 115px;
  }
  
  #sp-widget5__hop-3 {
    display: none;
  }
}
