.chatDiv {  		  	    
  	  border-color: #000000;
  	  border-width: 1px;
      border-style: solid;
      /*border-radius: 1px;*/
  	  font-size: 12px;
  		}



.chatcontainer {
  			width:99%;
  	    height:210px;
  	    opacity:0.76;
  	    color:black;
  	    
  	  border-color: #ffffff;
  	  border-width: thin;
      border-style: solid;
      /*border-radius: 4px;*/
  	    font-size: 12px;
  	    
  		}
    .chatcontentDiv {
    	opacity:0.75;
    	color:black;
      width:100%;
      height:130px;
      border-color: #ffffff;
      border-width: thin;
      border-style: solid;
      /*border-radius: 3px;*/
      display: block;	
      overflow: auto;
      
          padding: 20px;
          font-size: 12px;
    }    
    	.chatcorners {    	
						background: none repeat scroll 0 0 #aabbff;
				    border-radius: 3px;
				    border: 2px solid #ff5544;
				    padding: 2px;
    		}
    
    .chatusername {
      font-weight: bold;
      color: #000000;
      font-style : italic;
    }
    	.msgtext {
      font-weight: bold;
      color: #220000;
    }	
  
  