/**
 * SlidePiper Application Settings
 *
 * sp prefix is used to declare a SlidePiper name space.
 *
 * For information on the naming convention, see Harry Roberts' style in
 * https://en.bem.info/method/naming-convention/ .
 */
/* SIGNUP */

/* .sp--height-100-percent {
	height: 100%;
}

.sp-signup-form__logo {
	width: 250px;
}

.sp-viewer-toolbar-container:not(.sp-viewer-logo-handler) {
  display: inline-block;
}

.sp-viewer-toolbar-background__checkbox {
  display: inline-block;
}

.slds-size--1-of-5 {
  width: 45%;
}

.sp-viewer-choice-demo {
  display: inline-block;
  height: 40px;
  width: 200px;
  border-radius: 3px;
  float: right;
  
}

.sp-viewer-choice-demo-toolbar {
  padding: 9px;
  border: 1px solid grey;
  border-radius: 3px;
  text-align: center;
}

.sp-viewer-choice-demo-button {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 3px;
  text-align: center;
}

#sp-cta-button-desc__p {
  color: white;
}

#sp-viewer-settings__h3 {
  margin-top: 10px;
}

#sp-viewer-logo-link {
  width: 100%;
}
 */



/* TODO: considering UI, perhaps it is better to remove this section. 
.ui-block-b .ui-checkbox {
  display: inline-block;
  width: 60%;
}
*/

/* TODO: considering UI, perhaps it is better to remove this section.
.sp-file-hash-placeholder {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin: 8px 0 8px 10px;
  vertical-align: top;
}
*/

#send_email_to_customers {
  visibility: hidden;
}

.ui-block-b .ui-btn.ui-checkbox-off:after,
    .ui-block-b .ui-btn.ui-checkbox-on.ui-checkbox-on:after {
  display: none;  
}

.ui-block-b label {
  padding-left: 20px;  
}

.ui-block-c textarea#msgtext1 {
  height: 190px !important;
}

#newpresname {
  overflow-y: scroll;
}


/* Dashboard settings */

button[data-target="#sp-modal-add-update-customer"] {
  margin-left: 10px;
}

form[role="search"], .text-muted, .arrow {
  visibility: hidden;
}

.sp-copy__button {
  float: right; 
}

.sp-dashboard-progress { 
  margin-bottom: 3px; 
}

.sp-chart-title-fa {
  float: left;
  margin-right: 10px;
}

.sp-file-delete, .sp-customer-delete {
  margin-left: 10px;
}

.sp-file-mgmt-file-name {
  font-weight: bold;
}

.sp-inline {
  display: inline !important;
}

.sp-top-section {
  display: none;
}

.sp-file-clock {
  margin-right: 5px;
}

td.sp-file-hash {
  cursor: pointer;
  text-decoration: underline;
}

.sk-spinner {
  display: none;
}

#sp-file-upload {
  display: none;
}

#sp-customers-mgmt-top-part {
  display: none;
}

#sp-customers-upload__form {
  text-align: center;
}

#sp-download-template__button {
  color: initial;
  font-family: sans-serif;
  margin-right: 40px;
}

.sp-data-widget {
  height: 99px;
}

#sp-wizard-action-btns-container {
  vertical-align: middle;
}

.sp-widget-text {
  font-size: 23px !important; 
}

/* Scrollbar */

/* Chrome and Safari */

.sp-analytics-container__div {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sp-analytics-container__div::-webkit-scrollbar{
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgb(47, 64, 80);
  border-radius: 3px;
  min-height: 0;
  width: 7px;
}

.sp-analytics-container__div::-webkit-scrollbar-thumb {
  background-color: rgba(241,241,241,.6);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px rgb(167, 177 194);
}

.content::-webkit-scrollbar {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 3px;
  height: 0;
  width: 7px;
}
.content::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
} 

.tab-content::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 3px;
  height: 0;
  width: 7px;
}
.tab-content::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  background-color: #808080;
  border-radius: 3px;
}

#sp-sales-analytics-scroll {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#sp-sales-analytics-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgb(47, 64, 80);
  border-radius: 3px;
  height: 0;
  width: 7px;
}

#sp-sales-analytics-scroll::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgb(167, 177 194);
  background-color:rgba(241,241,241,.6);
  border-radius: 3px;
  position: relative;
  z-index: 2;
} 

.tab-content::-webkit-scrollbar-thumb, #sp-sales-analytics-scroll::-webkit-scrollbar-thumb, .sp-analytics-container__div::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
  min-height: 100px;
}

/* SCROLLBAR */

/* Chrome and Safari */

.sp-analytics-container__div {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-base-color: grey;
  scrollbar-base-color: grey;
  scrollbar-3dlight-color: grey;
  scrollbar-highlight-color: grey;
  scrollbar-track-color: grey;
  scrollbar-arrow-color: grey;
  scrollbar-shadow-color: grey;
  scrollbar-dark-shadow-color: grey;
}

.sp-analytics-container__div::-webkit-scrollbar{
    -moz-appearance: none;
    background-color: rgb(47, 64, 80);
    border-radius: 3px;
    min-height: 0;
    -webkit-appearance: none;
    width: 7px;
}

.sp-analytics-container__div::-webkit-scrollbar-thumb {
    background-color: rgba(241,241,241,.6);
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px rgb(167, 177 194);
}

.content {
  scrollbar-base-color: grey;
  scrollbar-base-color: grey;
  scrollbar-3dlight-color: grey;
  scrollbar-highlight-color: grey;
  scrollbar-track-color: grey;
  scrollbar-arrow-color: grey;
  scrollbar-shadow-color: grey;
  scrollbar-dark-shadow-color: grey;
}

.content::-webkit-scrollbar {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 7px;
    height: 0;
    border-radius: 3px;
    background-color: white;
}
.content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: grey;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
} 

.tab-content {
  scrollbar-base-color: grey;
  scrollbar-base-color: grey;
  scrollbar-3dlight-color: grey;
  scrollbar-highlight-color: grey;
  scrollbar-track-color: grey;
  scrollbar-arrow-color: grey;
  scrollbar-shadow-color: grey;
  scrollbar-dark-shadow-color: grey;
}

.tab-content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 0;
    border-radius: 3px;
    background-color: white;
}
.tab-content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: grey;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#sp-sales-analytics-scroll {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-base-color: grey;
  scrollbar-base-color: grey;
  scrollbar-3dlight-color: grey;
  scrollbar-highlight-color: grey;
  scrollbar-track-color: grey;
  scrollbar-arrow-color: grey;
  scrollbar-shadow-color: grey;
  scrollbar-dark-shadow-color: grey;
}

#sp-sales-analytics-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 7px;
    height: 0;
    border-radius: 3px;
    background-color: rgb(47, 64, 80);
}
#sp-sales-analytics-scroll::-webkit-scrollbar-thumb {
    position: relative;
    z-index: 2;
    border-radius: 3px;
    background-color:rgba(241,241,241,.6);
    -webkit-box-shadow: 0 0 1px rgb(167, 177 194);
} 

.tab-content::-webkit-scrollbar-thumb, #sp-sales-analytics-scroll::-webkit-scrollbar-thumb, .sp-analytics-container__div::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
  min-height: 100px;
}

/* Send Email Wizard */

.sp-clickable {
  cursor: pointer;
}

.sp-file-link {
  font-size: 12px;
  color: inherit;
}

.sp-cmd-all__button {
  bottom: 0;
  display: inline-block;
}

.content {
  background-color: #fff !important;
  height: 270px !important;
}

.sp-hidden {
  display: none;
}

/* .sp-mailto {
  color: inherit;
} */

.sp-mail-all__button {
  color: #1ab394;
  margin-left: -10px;
}

.sp-mail-all__button:hover {
  color: #1ab394;
}

.sp-email-container-hidden {
  display: none;
}

.sp-mail-choice {
  margin-left: -10px;
}

.sp-mail__icon {
  color: #1ab394 !important;
}

.sp-send-to-all__button {
  margin-left: -20px;
}

#sp-send-email {
  margin-bottom: 30px;
}

/* Settings */

.dropdown-toggle.btn-default, .btn-default.active:hover {
  border: none !important;
}

.form-group {
  margin: 10px !important;
}

#sp-change-pwd__button {
  float: right;
}

.sp-settings-dropdown__button {
  border: none;
  color: #999c9e;
  font-weight: 600;
  margin-bottom: 2px;
}

.sp-settings-dropdown__button:hover {
  border: none;
}

.sp-settings-dropdown__button:active {
  border: none;
}

.sp-dropdown-settings__li {
  color: #999c9e;
}

.sp-doc-settings-info__icon {
  color: #1ab394;
}

/* Help Modal */

.sp-help-done__h3 {
  margin-top: 20px;
}

.sp-help-info-mailto__button{
  margin-top: 7px;
}

.sp-help-modal__container {
  margin-bottom: -35px;
}

.middle-box {
  margin-top: -60px !important;
}

/* Documents and Customers */

.sp-create-csv-help {
  margin-top: 10px;
}

.sp-download-contacts-help {
  margin-top: 10px;
}

.sp-doc-and-file-tab__ul {
  margin-bottom: 10px;
}

/* Error Handler */
.sp-error-box {
  position: absolute;
  right: 4%;
  top: -0.5%;
  width: 400px;
  z-index: 2;
}

/* These two toast rules are for the toastr, which is dynamically created, and there is no
   code written for it in our files  */	
.toast-error {
  background: #ed5565;
  border: 0px solid #000000;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.toast-message {
  background: #ed5565;
}

/* Side Navbar */

.sp-nav-search__input {
  background-color: #293846;
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  margin-bottom: 8px;
  margin-left: 31px;
  padding: 5px;
  outline: none;
  width: 128px;
}

/* SLIDER */
.sp-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.sp-switch input {display:none;}

/* The slider */

input:checked + .sp-doc-settings-slider {
  background-color: #1ab394;
}

input:focus + .sp-doc-settings-slider {
  box-shadow: 0 0 1px #1ab394;
}

input:checked + .sp-doc-settings-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.sp-doc-settings-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sp-doc-settings-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.sp-doc-settings-slider.sp-round {
  border-radius: 34px;
}

.sp-doc-settings-slider.sp-round:before {
  border-radius: 50%;
}

.sp-switch-container {
  margin-top: 20px;
  margin-left: 10px;
}

.sp-switch-title__label {
 margin-top: 6px; 
}

.sp-settings-modal-header {
  margin-top: -2px;
  margin-bottom: 5px;
  text-align: center;
}

.sp-word-wrap {
  word-wrap: break-word;
}

/* Sorting */

.sp-sort-list {
  display: inline-block;
}

.sp-sort-option__a {
  background-color: #273441;
  border: 1px solid #587490;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 10px;
  padding-right: 16px !important;
  padding-left: 13px !important;
  margin-left: 34px !important;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sp-sort-option__a:hover {
  background-color: #1E2933;
}

.sp-sort-option__li {
  display: none;
  margin-top: 17px;
}

.sp-sort-option__li:first-child {
  margin-top: 1px;
}

.sp-sort-option__li:last-child {
  margin-bottom: 12px;
}

.sp-search-container {
  display: inline-block;
}

.sp-sort-search-cont {
  display: inline-block;
}

.sp-sort-toggle__icon {
  margin-left: 3px;
}

.sp-sort-options-toggle {
  color: #ffffff;
  margin-left: 7px;
}

.sp-sort-options-toggle:hover {
  color: #C6C0C0;
} 
