/**
 * SlidePiper Application Settings
 *
 * sp prefix is used to declare a SlidePiper name space.
 *
 * For information on the naming convention, see Harry Roberts' style in
 * https://en.bem.info/method/naming-convention/ .
 */

.sp--height-100-percent {
	height: 100%;
}

.sp-signup-form__logo {
	width: 250px;
}

/* TODO: considering UI, perhaps it is better to remove this section. 
.ui-block-b .ui-checkbox {
  display: inline-block;
  width: 60%;
}
*/

/* TODO: considering UI, perhaps it is better to remove this section.
.sp-file-hash-placeholder {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin: 8px 0 8px 10px;
  vertical-align: top;
}
*/

#send_email_to_customers {
  visibility: hidden;
}

.ui-block-b .ui-btn.ui-checkbox-off:after,
    .ui-block-b .ui-btn.ui-checkbox-on.ui-checkbox-on:after {
  display: none;  
}

.ui-block-b label {
  padding-left: 20px;  
}

.ui-block-c textarea#msgtext1 {
  height: 190px !important;
}

#newpresname {
  overflow-y: scroll;
}


/* Dashboard settings */

button[data-target="#sp-modal-add-update-customer"] {
  margin-left: 10px;
}

form[role="search"], .text-muted, .arrow {
  visibility: hidden;
}

.sp-copy__button {
  float: right; 
}

.sp-dashboard-progress { 
  margin-bottom: 3px; 
}

.sp-chart-title-fa {
  float: left;
  margin-right: 10px;
}

.sp-file-delete, .sp-customer-delete {
  margin-left: 10px;
}

.sp-file-mgmt-file-name {
  font-weight: bold;
}

.sp-inline {
  display: inline !important;
}

.sp-top-section {
  display: none;
}

.sp-file-clock {
  margin-right: 5px;
}

td.sp-file-hash {
  cursor: pointer;
  text-decoration: underline;
}

.sk-spinner {
  display: none;
}

.sp-analytics-container__div {
  max-height: 300px;
}

#sp-file-upload {
  display: none;
}

#sp-customers-mgmt-top-part {
  display: none;
}

#sp-customers-upload__form {
  text-align: center;
}

#sp-download-template__button {
  color: initial;
  font-family: sans-serif;
  margin-right: 40px;
}

#sp-sales-analytics-scroll {
  max-height: 300px;
}

.sp-data-widget {
  height: 99px;
}

.sp-widget-text {
  font-size: 23px !important; 
}

/* SCROLLBAR */
/* IE and Edge */

scrollbar-base-color: green;

scrollbar-base-color: green;

scrollbar-3dlight-color: green;

scrollbar-highlight-color: green;

scrollbar-track-color: darkgreen;

scrollbar-arrow-color: green;

scrollbar-shadow-color: green;

scrollbar-dark-shadow-color: green;

/* Chrome and Safari */

.tab-content {
  overflow-y: scroll;
}

.tab-content:hover {
  overflow-y: scroll;
}

.tab-content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 0;
    border-radius: 3px;
    background-color: white;
}
.tab-content::-webkit-scrollbar-thumb {
    height: 150px;
    border-radius: 3px;
    background-color: grey;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
} 

#sp-sales-analytics-scroll {
  overflow-y: hidden;
}

#sp-sales-analytics-scroll:hover {
  overflow-y: scroll;
  overflow-x: hidden;
}

#sp-sales-analytics-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 0;
    border-radius: 3px;
    background-color: rgb(47, 64, 80);
}
#sp-sales-analytics-scroll::-webkit-scrollbar-thumb {
    position: relative;
    z-index: 2;
    height: 20px;
    border-radius: 3px;
    background-color:rgba(241,241,241,.6);
    -webkit-box-shadow: 0 0 1px rgb(167, 177 194);
} 

.sp-analytics-container__div {
  overflow-y: hidden;
}
.sp-analytics-container__div:hover {
  overflow-y: scroll;
  overflow-x: hidden;
}

.sp-analytics-container__div::-webkit-scrollbar{
    background-color: rgb(47, 64, 80);
    border-radius: 3px;
    height: 0;
    -webkit-appearance: none;
    width: 7px;
}
.sp-analytics-container__div::-webkit-scrollbar-thumb {
    background-color: rgba(241,241,241,.6);
    border-radius: 3px;
    height: 20px;
    -webkit-box-shadow: 0 0 1px rgb(167, 177 194);
}

.content {
  overflow-y: hidden;
  overflow-x: hidden;
}

.content:hover {
  overflow-y: scroll;
  overflow-x: scroll;
}

.content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 0;
    border-radius: 3px;
    background-color: white;
}
.content::-webkit-scrollbar-thumb {
    height: 50px;
    border-radius: 3px;
    background-color: grey;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
} 



/* Send Email Wizard */

.sp-clickable {
  cursor: pointer;
}

.sp-file-link {
  font-size: 12px;
}

.sp-cmd-all__button {
  bottom: 0;
  display: inline-block;
}

.content {
  background-color: white !important;	
  height: 270px !important; 	
}

.sp-hidden {
  display: none;
}

.sp-mailto {
  color: black;
}

.sp-mail-all__button {
  color: #1ab394;
  margin-left: -10px;
}

.sp-mail-all__button:hover {
  color: #1ab394;
}

.sp-email-container-hidden {
  display: none;
}

.sp-mail-choice {
  margin-left: -10px;
}

.sp-mail__icon {
  color: #1ab394 !important;
}

.sp-send-to-all__button {
  margin-left: -20px;
}

#sp-send-email {
  margin-bottom: 30px;
}

/* Change Password */

.form-group {
  margin: 10px !important;
}

/* Help Modal */

.sp-help-done__h3 {
  margin-top: 20px;
}

.sp-help-info-mailto__button{
  margin-top: 7px;
}

.sp-help-modal__container {
  margin-bottom: -35px;
}

.middle-box {
  margin-top: -60px !important;
}

/* Documents and Customers */

.sp-create-csv-help {
  margin-top: 10px;
}

.sp-download-contacts-help {
  margin-top: 10px;
}

/* Error Handler */
.sp-error-box {
  position: absolute;
  right: 4%;
  top: -0.5%;
  width: 400px;
  z-index: 2;
}

/* These two toast rules are for the toastr, which is dynamically created, and there is no
   code written for it in our files  */	
.toast-error {
  background: #ed5565;
  border: 0px solid #000000;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.toast-message {
  background: #ed5565;
  
}
