/**
 * SlidePiper Presentation Viewer Settings
 *
 * sp prefix is used to declare a SlidePiper name space.
 *
 * For information on the naming convention, see Harry Roberts' style in
 * https://en.bem.info/method/naming-convention/ .
 */


/**
 * Customization settings.
 */

/* Patch for horizontal scroll-bar appearance */
html, body {
  overflow-x: hidden; 
}

/* Stops scrolbar overflowing over content in IE and Edge */
body {  
   -ms-overflow-style: scrollbar;
} 
 
#loadingBar, #toolbarContainer, #toolbarSidebar {
  visibility: hidden;
}

#pageNumber {
  width: 36px;
}

#toolbarContainer {
  height: 48px;
}

#toolbarViewerLeft, #toolbarViewerRight {
  top: 8px !important;
}

#viewFind {
  margin-left: 4px;
}

@media all and (max-width: 600px) {
  #zoomOut {
    margin-left: 4px;
  }
  
  #zoomIn {
    margin-right: 1px;
  }
}

.outerCenter {
  float: right !important;
  left: auto !important;
}

.sp-toolbar-logo img {
  max-height: 44px;
  margin: 2px 0;
}

/* CTA */
#sp-cta-secondary-toolbar-separator {
  display: none;
}

.sp-cta {
  cursor: pointer;
  width: auto;
  display: inline-block;
}

.sp-secondary-cta {
  display: inherit;
  padding-top: 6px;
}

.sp-secondary-cta::before {
  content: url(../../pdfjs/images/findbarButton-next.png);
}

#sp-terms-privacy-secondary-toolbar {
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
}

@media screen and (min-resolution: 2dppx) {
  .sp-secondary-cta::before {
    content: url(../../pdfjs/images/findbarButton-next@2x.png);
  }
}

.sp-secondary-cta:link, .sp-secondary-cta:visited, .sp-secondary-cta:hover, .sp-secondary-cta:active {
  color: rgba(255, 255, 255, 0.8);
} 

.sp-cta:link, .sp-cta:visited, .sp-cta:hover, .sp-cta:active,
.sp-secondary-cta:link, .sp-secondary-cta:visited, .sp-secondary-cta:hover, .sp-secondary-cta:active {
  text-decoration: none;
}

/**
 * SlidePiper settings.
 */
#sp-terms-privacy {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.65);
  border-top-right-radius: 3px;
  bottom: 0;
  font-size: 12px;
  padding: 1px 4px;
  position: absolute;
  visibility: hidden;
  z-index: 2; /* TODO: do we really need this declaration? */
}

#sp-terms-privacy a {
  color: #474747;
}

#sp-terms-privacy a:hover {
  text-decoration: none;
}

.sp-powered-by {
  font-weight: bold;
}

/* Media queries */
@media screen and (max-width: 768px) {
  #sp-terms-privacy {
    font-size: 11px;
  }
}

/**
 * Chat CSS settings
 *
 * See media queries section below for different viewports settings. 
 */

@font-face {
  font-family: 'Droid Sans';
  src: url(../fonts/droid-sans/DroidSans.ttf);
}

@font-face {
  font-family: 'Droid Sans';
  src: url(../fonts/droid-sans/DroidSans-Bold.ttf);
  font-weight: bold;
}

#sp-live-chat {
  background: #e9e9e9;
  bottom: 0;
  color: #9a9a9a;
  font: 12px/2em 'Droid Sans', sans-serif;
  margin: 0;
  max-width: 300px;
  min-width: 125px;
  position: fixed;
  right: 24px;
  visibility: hidden;
  width: 40%;
  z-index: 1; /* TODO: research for the reason this rule is needed */
}

#sp-live-chat a { text-decoration: none; }

#sp-live-chat h4, #sp-live-chat h5 {
  font: 12px/2em 'Droid Sans', sans-serif; /* TODO: research for the reason this rule is needed as it is already declared in #sp-live-chat */
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
}

#sp-live-chat h4 {
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#sp-live-chat h4:before {
  background: #c00000;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

#sp-live-chat h4.sp-chat-user-status:before {
  background: #1a8a34;
}

#sp-live-chat h5 {
	font-size: 10px;
}

#sp-live-chat header {
	/* background: #293239; default value */
	border-radius: 3px 3px 0 0;
	color: #fff;
	cursor: pointer;
	padding: 8px 20px;
	background-color: #474747; /* pdf.js project value */
    background-image: url(images/texture.png), linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95)); /* pdf.js project value */
}

#sp-live-chat hr {
  background: #e9e9e9;
  border: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  margin: 0;
  min-height: 1px;
}

#sp-live-chat img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

#sp-live-chat input {
  border: 1px solid #ccc;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  padding: 8px;
  outline: none;
  width: 100%;
}

#sp-live-chat p { margin: 0; }

.sp-chat {
  background: #fff;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  display: none;
  max-width: 300px;
  width: 100%;
}

.sp-chat-avatar {
  background: #ff9999;
  border-radius: 50%;
  color: #fff;
  float: left;
  font: 16px Ariel, sans-serif;
  height: 32px;
  line-height: 33px; /* TODO: shouldn't it be 32px? */
  text-align: center;
  width: 32px;
}

.sp-chat-avatar--customer {
  background: #99ccff;
}

/* Disable chat feedback functionality for now. 
.sp-chat-feedback {
	font-style: italic;	
	margin: 0 0 0 80px;
}
*/

.sp-chat-form {
	padding: 24px;
}

/* Disable chat message counter functionality for now.
.sp-chat-message-counter {
	background: #e62727;
	border: 1px solid #fff;
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: -15px 0 0 -15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}
*/

/* Disable chat close functionality for now.
.sp-chat-close {	
	background: #1b2126;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 16px;
}
*/

.sp-chat-history {
	max-height: 149px;
	padding: 8px 20px;
	overflow-y: scroll;
}

.sp-chat-message {
	margin: 16px 0;
}

.sp-chat-message img {
	border-radius: 50%;
	float: left;
}

.sp-chat-message-content {
	margin: 0 0 16px 52px;
}

/* Disable chat time functionality for now.
.sp-chat-time {
	float: right;
	font-size: 10px;
}
*/

.sp-clearfix { *zoom: 1; } /* For IE 6/7 */

.sp-clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.sp-clearfix:after { clear: both; }


/* Media queries */
@media screen and (max-width: 768px) {
  #sp-live-chat {
    right: 0;
  } 
 
  #sp-live-chat header {
    border-top-right-radius: 0;
  }
}

/* Widget Settings */

.sweet-alert iframe {
  width: 100%;
}

/* Widget 1 -  YouTube widget */
.sp-demo-video {
  background-color: white;
  border: 1px solid #8D8D8D;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  bottom: 0;
  color: #0074A6;
  cursor: pointer;
  max-width: 500px;
  min-width: 300px;
  position: fixed;
  padding-top: 10px; 
  visibility: hidden;
  width: 34%;
}  

.sp-demo-video iframe {
  left: 0;
  padding: 7px;
  position: relative;
  top: 0;
  width: 100%;
}  

.sp-demo-video hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.sp-demo-video .fa {
  float: right;
  margin-right: 10px;
}

.sp-demo-video1 {
  left: 13%;
}

.sp-demo-video-title__span {
  display: inline-block;
  left: 19px;
  max-width: 80%;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Widget1 - YouTube Widget - Media Queries */

@media (max-width:801px) { 
/*tablet, landscape iPad, lo-res laptops ands desktops*/ 
    #sp-terms-privacy {
      display: none;
    }
    .sp-demo-video1 {
      border-top-left-radius: 0;
      left: 0;
    }
}

/* Widget2 - Calender Widget - Media Queries */

@media (max-width: 539px) {
  .sp-widget2 div {
    display: none !important;
  }
  .sp-widget-button {
    height: 6% !important;
    width: 13% !important;
  }
  .sp-widget2 i {
    vertical-align: middle !important;
    margin-left: -4px !important;
    margin-bottom: 0 !important;
  }
}

@media (min-height: 764px) {
  .sp-widget-button {
    height: 10% !important;
  }
}

@media (min-height: 1000px) {
  .sp-widget-button {
    height: 9% !important;
  }
}

@media (max-width: 796px) {
  .sp-widget-button {
    font-size: 100% !important;
  }
  .sp-widget2 i {
    display: block !important;
    font-size: 1.5em !important;
    margin-bottom: 5px !important;
    margin-left: 9px !important;
  }
}

@media (max-height: 550px) {
  .sp-widget-button {
    height: 8% !important;
  }
   .sp-widget2 div {
    display: none !important;
  }
  .sp-widget2 i {
    font-size: 1.5em !important;
    vertical-align: middle !important;
  }
}

/* Widget 2 */
.sp-widget-button {
  background-color: #1aaee4;
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 160px;
  border: none;
  -moz-border-radius: 45px 0px 0px 45px;
  -webkit-border-radius: 45px 0px 0px 45px;
  border-radius: 45px 0px 0px 45px;
  box-shadow: 0px 8.5px 5.67px rgba(35, 31, 32, 0.3);
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  height: 15%;
  max-width: 188px;
  min-height: 56px;
  position: absolute;
  right: -1px;
  top: 45%;
  transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out, transform 1000ms ease-in-out;
  visibility: hidden;
  width: 18%;
 }

.sp-widget-button:hover {
  background-color: #47beea;
  box-shadow: 0px 3.5px 4px rgba(35, 31, 32, 0.4);
  cursor: pointer;
}

.sp-widget2 i {
  display: inline-block;
  vertical-align: super;
  margin-left: 2px;
}

.sp-widget2 div {
  display: inline-block;
  margin-left: 17px;
  text-align: center;
  width: 80px;
}