/* Hide Elements */
section:not([data-section-id="0"]),
.beneficiary,
#account-number-container-1,
#beneficiaries-container,
#independent,
#kids-insurance-container,
#medical-questionnaire-2-yes-container,
#medical-questionnaire-3-yes-container,
#medical-questionnaire-4-yes-container,
#medical-questionnaire-5-yes-container,
#medical-questionnaire-6-yes-container,
#partner,
#partner-kids-waiver-statement,
#partner-no-kids-no-container,
#partner-no-kids-yes-container,
#smoking-amount-container,
#smoking-when-stopped-container,
#transfer-funds-container,
#transfer-fund-statement-6-container,
#transfer-fund-statement-7-container,
#transfer-funds-statements {
  display: none;
}

/* General Settings */
.sp--font-weight-normal {
  font-weight: normal;
}


/* Bootstrap & Third Party Libraries Settings */
.bootstrap-datetimepicker-widget.dropdown-menu {
	width: 16em !important;
}

.radio-inline {
  display: inline;
}


/* Specific Settings */
body {
  direction: rtl;
  overflow: hidden;
}

.breadcrumb {
  line-height: 22px;
  margin-bottom: 10px;
  padding: 8px 4px;
}

.breadcrumb > li + li:before {
  color: #455A64;
  content: ">";
  font-weight: 900;
}

.breadcrumb > li {
  color: #777;
}

.breadcrumb > .active {
  color: #337ab7;
  font-weight: bold;
}

canvas {
  border-radius: 3px;
  border: 1px solid #b7b7b7;
}

h2 {
  margin-bottom: 30px;
}

.container {
  margin-top: 10px;
}

.pagination a {
  height: 55px;
  width: 110px;
}

.sp-back-section {
  margin-left: 10px !important;
  display: none;
}

#form-6 .sp-back-section {
  margin-left: 0 !important;
} 

.sp-direction--ltr {
  direction: ltr;
}

.sp-checkbox--rtl {
  margin-left: 5px !important;
}

select + .help-block,
.sp-checkbox-inline .help-block,
.sp-radio .help-block,
.sp-radio + .help-block,
#retirement-age .help-block {
  display: none !important;
}

.sp-radio input[type="checkbox"],
.sp-radio input[type="radio"] {
  vertical-align: sub;
}

.sp-text-align--right {
  text-align: right;
}

.sp-tooltip {
  margin-right: 5px;
}

.sp-tooltip-a {
  color: #fff;
}

.sp-tooltip-a:hover {
  color: #fff;
}


.has-feedback .form-control {
  padding-right: 12px;
  padding-left: 42.5px;
}

.has-feedback .form-control-feedback {
  left: 0;
  right: auto;
}

.progress-bar {
  float: right;
  width: 25%;
}

.sp-back-section,
.sp-next-section {
  margin-top: 10px;
  padding: 3px 10px;
}

.sp-form__complete-icon {
  color: #a5dc86;
}

.sp-form__menu-section--seen {
  cursor: pointer;
  font-weight: bold; 
}

.sp-form__whitespace-nowrap {
  white-space: nowrap;
}

.sp--text-align-center {
  text-align: center;
}

#hag-is-confirm-container {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

#form-7 h4 {
  margin-top: 0;
}

#form-not-valid {
  margin-bottom: 0;
  text-align: center;
}

#form-not-valid label {
  margin-bottom: 0;
}

#general-statements .fa {
  margin-left: 5px;
}

#panel {
  height: 350px;
  margin-bottom: 10px;
  padding: 15px;
  overflow-y: scroll;
}

#panel::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

#panel::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 4px;
}

#phone-number-error {
  margin-bottom: 0;
}

#sp-form__signature {
  height: 150px;
  width: 300px;
}


/* Form 4 */
.sp-medical-questionnaire {
  margin-bottom: 0; 
}


/* Media Queries */
@media only screen and (max-height: 450px) {
  .breadcrumb {
    line-height: 11px;
  }
  
  #panel {
    height: 310px;
  }
}

@media only screen and (max-height: 400px) {
  #panel {
    height: 260px;
  }
}

@media only screen and (max-height: 350px) {
  #panel {
    height: 210px;
  }
}

@media screen and (max-height: 700px) and (max-width: 400px) {
  .sp-form__container,
  .breadcrumb > li {
    font-size: 9px;
  }
  
  #form-not-valid-label {
    font-size: 10px;
  }
    
  #panel {
    height: 225px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-height: 366px) and (max-width: 270px) { 
  .breadcrumb {
    line-height: 11px;
  }
  
  #panel {
    height: 115px;
    padding: 9px;
  }
}

@media only screen and (max-height: 115px) and (max-width: 228px) {
  .breadcrumb {
    line-height: 9px;
  }
  
  #panel {
    height: 62px;
  }
}