<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://static.slidepiper.com/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        'use strict';

        window.SP = {};
        Object.defineProperties(SP, {
            CSRF_HEADER: {
                value: '{{{_csrf.headerName}}}',
                enumerable: true
            },
            CSRF_TOKEN: {
                value: '{{{_csrf.token}}}',
                enumerable: true
            }
        });
    </script>
    <script type="text/javascript">
        function loginCustomer(event) {
            event.preventDefault();

            var data = {
                customer_code: $("#code").val()
            };

            $.ajax({
                url: '/portalauth/verifycode',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(SP.CSRF_HEADER, SP.CSRF_TOKEN);
                },
                statusCode: {
                    200: function(json) {
                        window.location = '/view?f={{{initialChannelFriendlyId}}}';
                    },
                    400 : function(error) {
                        $('#add_err').innerHTML = "<h1>Error here!</h1>";
                    }
                }
            });
        };

    </script>
</head>
<body>
<h1>Login Customer!</h1>
<form>
    <h1>Login Form</h1>
    <div>
        <input type="text" placeholder="Verify code" required="" id="code"  name="code"/>
    </div>
    <div class="err" id="add_err"></div>
    <div>
        <input type="button" value="Log in" id="logincustomer"  onclick="loginCustomer(event);" />
    </div>
</form>
</body>
</html>